doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title {{ name }}
    if !debug
      link(href='/static/css/app.css', rel='stylesheet')
  body
    #root
      block content
    if !debug
      script(src='/static/js/vendor.js')
      script(src='/static/js/app.js')
